@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-color: #111;
  color: white;
}

.btn-primary {
  @apply border border-white text-white font-thin tracking-wide text-xl py-3 px-6 ;
}

.btn-primary:hover {
  @apply border-blue-200 text-blue-200;
}

.primary-link {
  @apply inline-block font-thin text-4xl text-blue-400;
}

.primary-link:hover {
  @apply text-white underline;
}

/* Carousel */

.slick-dots li button {
  background-color: white;
}

.slick-next:before {
  content: url(/carousel-arrow-right.svg) !important;
  width: 50px;
  height: 50px;
}

.slick-prev:before {
  content: url(/carousel-arrow-left.svg) !important;
  width: 50px;
  height: 50px;
}

.slick-prev {
  z-index: 1;
}

.carousel-slide {
  @apply flex bg-no-repeat bg-cover;
  min-height: 800px; 
}

.carousel-content {
  @apply content-center px-24 flex-col space-y-4;
  max-width: 700px;
}

.carousel-heading {
  @apply text-8xl font-thin;
}

.carousel-body {
  @apply text-sm text-white font-light tracking-wide leading-6 my-0;
  max-width: 380px;
}

.carousel-link {
  @apply border border-white text-white font-thin tracking-wide text-xl py-3 px-6 my-3 inline-block;
  
}

.carousel-link:hover {
  @apply border-blue-200 text-blue-200;
}

.narrative-section {
  @apply flex flex-col my-20 justify-center;
}

.narrative-body {
  @apply text-3xl font-thin text-center justify-center;
  max-width: 800px;
  margin: auto;
}

.narrative-cta {
  @apply text-center py-6;
}