@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-color: #111;
  color: white;
}

.btn-primary {
  @apply border border-white text-white font-thin tracking-wide text-sm py-2 px-3 ;
}

.btn-primary:hover {
  @apply border-blue-200 text-blue-200;
}

.primary-link {
  @apply inline-block font-thin text-2xl text-blue-400;
}

.primary-link:hover {
  @apply text-white underline;
}

.header {
  @apply py-4 px-4;
}

.logo {
  @apply flex-none content-center w-8;
}

.logo-text {
  @apply flex-1 content-center px-3 font-thin text-lg;
}

/* Carousel */

.slick-dots li div {
  @apply font-thin leading-8;
}

.slick-dots li button {
  background-color: white;
}

.slick-next:before {
  content: url(/carousel-arrow-right.svg) !important;
 
}

.slick-prev:before {
  content: url(/carousel-arrow-left.svg) !important;
}

.slick-prev {
  z-index: 1;
}

.carousel-slide {
  @apply flex bg-blue-950;
  min-height: 500px;
}

.carousel-content {
  @apply content-center px-16 flex-col space-y-4;
}

.carousel-heading {
  @apply text-2xl font-thin;
  
}

.carousel-body {
  @apply text-sm text-white font-light tracking-wide leading-6 my-0;
  
}

.carousel-link {
  @apply border border-white text-white font-thin tracking-wide text-sm py-2 px-4 my-3 inline-block;
}

.carousel-link:hover {
  @apply border-blue-200 text-blue-200;
}

/* Content Display */

.narrative-section {
  @apply flex flex-col my-10 px-6 justify-center;
}

.narrative-body {
  @apply text-lg font-thin text-center justify-center;
  margin: auto;
}

.narrative-cta {
  @apply text-center py-6;
}

@screen md {
  .header {
    @apply py-6;
  }

  .logo {
    @apply w-10;
  }

  .logo-text {
    @apply text-2xl;
  }
  
  .btn-primary {
    @apply text-xl py-3 px-6 ;
  }

  .carousel-slide {
    @apply bg-no-repeat bg-cover ;
    min-height: 500px;
  }

  .carousel-well {
    @apply bg-carousel-well;
  }

  .carousel-aps {
    @apply bg-carousel-aps;
  }

  .carousel-chop {
    @apply bg-carousel-chop;
  }

  .carousel-heading {
    max-width: 250px;
  }

  .carousel-body {
    max-width: 250px;
  }

  .narrative-body {
    max-width: 600px;
  }
}

@screen xl {
  .primary-link {
    @apply text-4xl;
  }

  .carousel-content {
    @apply content-center px-24 flex-col space-y-4;
    min-height: 800px; 
  }

  .carousel-heading {
    @apply text-8xl font-thin;
    max-width: 600px;
  }

  .carousel-body {
    max-width: 380px;
  }

  .carousel-link {
    @apply text-xl py-3 px-6 my-3;
  }

  .narrative-section {
    @apply my-20;
  }
  
  .narrative-body {
    @apply text-3xl;
    max-width: 800px;
  }
  
  .narrative-cta {
    @apply  py-6;
  }
  
}